<h1>Player 1: <%=@player1%>, Player 2: <%=@player2%></h1>
<h3>
<%=@player2%>: <%=@player2hp%>HP
</h3>
<div>
  <label for="hp_current"><%=@player2hp%></label>
  <progress value=<%=@player2hp%> max="100"></progress>
  <label for="hp_max">100</label>
</div>
<form action="attack" method="post">
  <input type="submit" value="player1_attack" name='player1_attack'>
</form>

<%if @attack == "p1attack"%>
  <h2><%=@player1%> attacked <%=@player2%> </h2>
<%end%>
