<h1>Player 1: <%=@player1%>, Player 2: <%=@player2%></h1>
<h3>
<%=@player2%>: <%=@player2hp%>HP
</h3>
<div>
  <label for="hp_min">0</label>
  <progress value=<%=@player2hp%> max="100"></progress>
  <label for="hp_max">100</label>
</div>
